# Supabase
SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=PEGAR_SERVICE_ROLE_KEY_SOLO_EN_VERCEL

# Login simple de Caja
CAJA_APP_PASSWORD=CAMBIAR_POR_UNA_CONTRASEÑA_SEGURA
CAJA_SESSION_SECRET=CAMBIAR_POR_UN_TEXTO_LARGO_ALEATORIO
